<header>
    <div class="main-header fx justify-sp-b align-center">
        <div class="dropdown ml-1">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" 
            id="dropdownMenuLink" data-bs-toggle="dropdown" 
            aria-expanded="false"><i class="fas fa-bars hamburguer"></i></a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">Mi perfil</a></li>
                <li><a class="dropdown-item" href="#">Notificaciones</a></li>
                <li><a class="dropdown-item" href="#">Bandeja de entrada</a></li>
                <li><a class="dropdown-item" href="#">Historial</a></li>
                <li><a class="dropdown-item" href="#">Categorias</a></li>
                <li><a class="dropdown-item" href="/product/cart">Mi carrito</a></li>
                <li><a class="dropdown-item" href="#">Funcionamiento</a></li>
                <li><a class="dropdown-item" href="#">Sobre Nosotros</a></li>
                <li><a class="dropdown-item" href="#">FAQ</a></li>
            </ul>
        </div>
        <img src="/images/logoReparaYaDesktop.svg" alt="esto es un logo de repara ya" class="logo">
        <div class="btn2 mr-3">
            <i class="fa-regular fa-circle-user align-center mr-3"></i>
        </div>
    </div>
</header>

<header class="bg-orange">
    <div class="lapt-desk-header">
        <div>
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" 
                id="dropdownMenuLink" data-bs-toggle="dropdown" 
                aria-expanded="false"><i class="fas fa-bars hamburguer"></i></a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Mi perfil</a></li>
                    <li><a class="dropdown-item" href="#">Notificaciones</a></li>
                    <li><a class="dropdown-item" href="/inbox">Bandeja de entrada</a></li>
                    <li><a class="dropdown-item" href="#">Historial</a></li>
                    <li><a class="dropdown-item" href="#">Categorias</a></li>
                    <li><a class="dropdown-item" href="/product/cart">Mi carrito</a></li>
                    <li><a class="dropdown-item" href="#">Funcionamiento</a></li>
                    <li><a class="dropdown-item" href="#">Sobre Nosotros</a></li>
                    <li><a class="dropdown-item" href="#">FAQ</a></li>
                </ul>
            </div>
        </div>
        
        <img src="/images/logoReparaYaDesktop.svg" alt="Logo Repara Ya" class="logo fx">
        <form class="search-bar fx">
            <input type="text" class="" placeholder="Buscá el servicio que necesitás">
            <button><i class="fas fa-search"></i></button>
        </form>
        <p class="mt-3"><a href="/login" class="right-bar">Ingresá</a></p>
        <p class="mt-3"><a href="/register" class="right-bar">Registrate</a></p>
    </div>
</header>