<header>
        <div class="main-header">
            <i class="fas fa-bars hamburguer"></i>
            <img src="/images/logo-repara-ya.svg" alt="esto es un logo de repara ya" class="logo">
            <i class="fa-regular fa-circle-user"></i>
        </div>
    </header>

    <header class="bg-orange">
        <div class="lapt-desk-header">
            <img src="/images/logoReparaYaDesktop.svg" alt="Logo Repara Ya" class="logo fx">
            <form class="search-bar fx">
                <input type="text" class="" placeholder="Buscá el servicio que necesitás">
                <button><i class="fas fa-search"></i></button>

            </form>
            <p class=""><a href="/login" class="right-bar">Ingresá</a></p>
            <p class=""><a href="/register" class="right-bar">Registrate</a></p>

        </div>

        <div class="header-bar">
            <ul class="fx">
                <li><a href="">Mi perfil</a></li>
                <li><a href="">Notificaciones</a></li>
                <li><a href="">Historial</a></li>
                <li><a href="">Categorias</a></li>
                <li><a href="/product/cart">Mi carrito</a></li>
            </ul>
        </div>
    </header>