<footer class="color-grey-footer">
    <nav class="nav-bar">
        <ul class="descarga">
            <li class="font-white footer-title"> Descargá la app </li>
            <li class="mr-15"><a href=""><i class="fa-brands fa-google-play google-descarga"></i></a></li>
            <li><a href=""><i class="fa-brands fa-apple apple-descarga"></i></a></li>
        </ul>
        <ul class=" redes">
            <li class="font-white footer-title"> Redes </li>
            <li class="mr-11"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="mr-11"><a href="#"><i class="fa-brands fa-facebook"> </i></a></li>
            <li class="mr-11"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>

        <ul class="funcionamiento">
            <li><img src="/images/logo-footer-blue.svg" alt="esto es un logo de repara ya" class="logo-footer"></li>
            <li class="font-white footer-title">Funcionamiento</li>
            <li class="font-white"> Nosotros </li>
            <li class="font-white"> Términos y condiciones </li>
        </ul>

        <ul class="contacto">
            <li  class="font-white footer-title">Contacto</li>
            <li class="mr-15"> <a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
            <li class="mr-15"> <a href="#"><i class="fa-solid fa-envelope"></i></a></li>
            <li> <a href="#"><i class="fa-solid fa-phone"></i></a></li>
        </ul>
    </nav>
</footer>