<header>
    <div class="main-header fx justify-sp-b align-center">
        <div class="dropdown ml-1">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" 
            id="dropdownMenuLink" data-bs-toggle="dropdown" 
            aria-expanded="false"><i class="fas fa-bars hamburguer"></i></a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <% if (!locals.isLogged) { %>
                    <li><a class="dropdown-item" href="/register">Registrate</a></li>                         
                <% } %>
                <% if (locals.isLogged && locals.userLogged.isProf) { %>
                    <li><a class="dropdown-item" href="/prof/inbox">Solicitudes de presupuesto</a></li>
                    <li><a class="dropdown-item" href="/prof/inbox/responses">Presupuestos respondidos</a></li>
                    <li><a class="dropdown-item" href="/cart/prof">Trabajos agendados</a></li>
                <% } %>
                <% if (locals.isLogged && !locals.userLogged.isProf) { %>
                    <li><a class="dropdown-item" href="/user/inbox">Bandeja de entrada</a></li>
                    <li><a class="dropdown-item" href="/cart">Mi carrito</a></li>
                <% } %>
                <li><a class="dropdown-item" href="/history">Historial</a></li>
                <li><a class="dropdown-item" href="#">Categorias</a></li>
                <li><a class="dropdown-item" href="#">Funcionamiento</a></li>
                <li><a class="dropdown-item" href="#">Sobre Nosotros</a></li>
                <li><a class="dropdown-item" href="#">FAQ</a></li>
            </ul>
        </div>
        <img src="/images/logoReparaYaDesktop.svg" alt="esto es un logo de repara ya" class="logo">
        <div class="btn2 mr-3">
            <i class="fa-regular fa-circle-user align-center mr-3"></i>
        </div>
    </div>
</header>

<header class="bg-orange">
    <div class="lapt-desk-header">
        <div>
           
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" 
                id="dropdownMenuLink" data-bs-toggle="dropdown" 
                aria-expanded="false"><i class="fas fa-bars hamburguer"></i></a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <% if (!locals.isLogged) { %>
                        <li><a class="dropdown-item" href="/register">Registrate</a></li>                         
                    <% } %>
                    <% if (locals.isLogged && locals.userLogged.isProf) { %>
                        <li><a class="dropdown-item" href="/prof/inbox">Solicitudes de presupuesto</a></li>
                        <li><a class="dropdown-item" href="/prof/inbox/responses">Presupuestos respondidos</a></li>
                        <li><a class="dropdown-item" href="/cart/prof">Trabajos agendados</a></li>
                    <% } %>
                    <% if (locals.isLogged && !locals.userLogged.isProf) { %>
                        <li><a class="dropdown-item" href="/user/inbox">Bandeja de entrada</a></li>
                        <li><a class="dropdown-item" href="/cart">Mi carrito</a></li>
                    <% } %>                         
                    <li><a class="dropdown-item" href="/history">Historial</a></li>
                    <li><a class="dropdown-item" href="#">Categorias</a></li>
                    <li><a class="dropdown-item" href="/funcionamiento">Funcionamiento</a></li>
                    <li><a class="dropdown-item" href="#">Sobre Nosotros</a></li>
                    <li><a class="dropdown-item" href="#">FAQ</a></li>           
                </ul>
            </div>
        </div>
        
        <img src="/images/logoReparaYaDesktop.svg" alt="Logo Repara Ya" class="logo fx">
        <form class="search-bar fx">
            <input type="text" class="" placeholder="Busc치 el servicio que necesit치s">
            <button><i class="fas fa-search"></i></button>
        </form>
        
        <% if (locals.isLogged) { %>             
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" 
            id="dropdownMenuLink" data-bs-toggle="dropdown" 
            aria-expanded="false"><i class="fa-solid fa-user"></i></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <% if (locals.isLogged && locals.userLogged.isProf) { %>
                    <li><a class="dropdown-item" href="/prof/detail/<%= locals.userLogged.id %>">Mi perfil</a></li>                       
                <% } %>
                <% if (locals.isLogged && !locals.userLogged.isProf) { %>
                    <li><a class="dropdown-item" href="/user/detail/<%= locals.userLogged.id %>">Mi perfil</a></li>                      
                <% } %>                         
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                
                <li><a class="dropdown-item" href="/newPassword">Cambiar Contrase침a</a></li>

            </ul>
        </div>
        <% } else {%>
        <p class="mt-3"><a href="/login" class="right-bar">Ingres치</a></p>
        <p class="mt-3"><a href="/register" class="right-bar">Registrate</a></p>
        <% } %>
    </div>
</header>