<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
  
    <main class="imagen-fondo-mobile fx justify-center">
        <div class="grey-opacity budget-req budg-req-desk ">
            <h2 class="text-center  bolder mb-3">Solicitud de presupuesto</h2>
            <form action="/budget/request" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="tituloSolicitud" class="mr-3 form-label"><h4 class="font-medium">Título del trabajo</h4></label>
                    <input class="form-control" type="text" id="tituloSolicitud" name="tituloSolicitud">
                </div>
                <div class="mb-3">
                    <label for="detalleSolicitud" class="mr-3 form-label"><h4 class="font-medium">Descripción del trabajo</h4></label>
                    <textarea class="form-control" id="detalleSolicitud" name="detalleSolicitud" rows="3" placeholder="Detallá el trabajo a realizar"></textarea>
                </div>
                <div class="mb-3 align-center">                    
                    <label for="rubro" class="mr-3"><h4 class="font-medium">Categoría</h4></label>
                    <select name="rubro" class="form-select font-medium form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option selected>Elegí el profesional que necesitás</option>
                        <option value="Albanil">Albañil</option>
                        <option value="Electricista">Electricista</option>
                        <option value="Gasista">Gasista</option>
                        <option value="Pintor">Pintor</option>
                        <option value="Plomero">Plomero</option>
                        <option value="Otro">Otro</option>
                    </select>
                </div> 
                <div class="mb-3">                   
                    <label for="imgReferencia" class="form-label "><h4 class="font-medium">Imágenes de referencia</h4></label>
                    <input class="form-control" name="imgReferencia" type="file" id="imgReferencia" multiple>
                </div> 
                <div class="mb-3 align-center">                    
                    <label for="urgenciaTrabajo" class="mr-3"><h4 class="font-medium">Cuándo necesitas realizarlo:</h4></label>
                    <select name="urgenciaTrabajo" class="form-select font-medium form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option selected>Elegí cuándo necesitas realizar el trabajo</option>
                        <option value="asap">Lo antes posible</option>
                        <option value="estaSemana">Esta semana</option>
                        <option value="esteMes">Este mes</option>
                    </select>
                </div>
                <div>
                    <label for="ubicacion"><h4 class="font-medium">Ubicación</h4></label>
                    <button type="button" name="ubicacion" class="ml-10  font-medium location-btn">Confirma tu ubicación</button>
                </div>
                                        
                <div class="fx justify-center mt-3">
                    <button type="submit" class="budg-button bolder">Enviar solicitud</button>
                </div>
            </form>
        </div>
    </main>

    <%- include('./partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>