<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
  
    <main class="imagen-fondo-mobile fx justify-center">
        <div class="grey-opacity budget-req budg-req-desk ">
            <h2 class="text-center bolder mb-3">Solicitá tu presupuesto</h2>
            <form action="" method="" class="">
                <div class="mb-3 fx align-center">                    
                    <label class="mr-3"><h4>Estoy buscando</h4></label>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option selected>Elegí el servicio que buscás</option>
                        <option value="Electricista"> Electricista </option>
                        <option value="Pintor">Pintor</option>
                        <option value="Gasista">Gasista</option>
                        <option value="Plomero">Plomero</option>
                    </select>
                </div>
                <div class="mb-3 fx">
                    <label for="descripción" class="mr-3 form-label"><h4>Descripción</h4></label>
                    <textarea class="form-control" id="descripcion-presupuesto" rows="3"></textarea>
                </div>
                  
                <div class="mb-3">                   
                    <label for="imagenesDeReferencia" class="form-label"><h4 >Imagenes de referencia</h4></label>
                    <input class="form-control" type="file" id="imagenesDeReferencia" multiple>
                </div> 
                <div class="mb-3">
                    <label for="date"><h4>A realizar entre:</h4></label>
                    <div class="fx justify-center">
                        <input type="date" class="date-form mr-10">
                        <input type="date" class="date-form">
                    </div>
                </div>
                <div class="mb-3 fx align-center">                    
                    <label class="mr-3"><h4>Seleccioná un horario</h4></label>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option selected>Elegí tu horario disponible</option>
                        <option value="mañana">de 8 a 12</option>
                        <option value="tarde">de 12 a 16</option>
                        <option value="tarde-noche">de 16 a 20</option>
                    </select>
                </div>
                <div>
                    <label for="ubicacion"><h4 >Ubicación</h4></label>
                    <button type="button" class="ml-10 btn btn-secondary">Confirma tu ubicación</button>
                </div>
                                        
                <div class="fx justify-center mt-3">
                    <button class="budg-button">
                        <a href="/budget/request"> Solicitar presupuesto</a>
                    </button>  
                </div>

            </form>
        </div>

    </main>

    <%- include('./partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</body>
</html>