<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>

    <main class="imagen-fondo-mobile justify-center">

        <section>   
            <div class="fx justify-sp-b text-right font-xlarge">
                <h2 class="m-3 font-xlarge lapt-shop-pago">Mis contrataciones</h2>
                <h2 class="m-3 font-xlarge lapt-shop-title">Revisá acá el estado de tus contrataciones</h2>
                <i class="m-3 far fa-question-circle"></i>
            </div>        
            <div class="m-3">
                <label for="date"><h4 class="font-medium">Fecha entre:</h4></label>
                    <div class="fx justify-center">
                        <input type="date" class="date-form mr-10">
                        <input type="date" class="date-form">
                    </div>
            <div class="text-center txt-button-container pad-5 justify-center mt-3"> 
                <button type=“submit” class="button-orange font-medium text-center">Buscar</button>
                <button type="reset" class="cancel-button font-medium">Nueva búsqueda</button>            
            </div>  
        </section>
        <section>
        <div class="m-3 marco-detail lapt-history">    
            <li>Fecha</li>
            <li>Concepto</li>
            <li>Proveedor</li>
            <li>Importe</li>
            <li>Estado</li>           
            <li>Estado del pago</li>  
            <li>Observaciones</li>  
        </div>
        </section>

    </main>

    <%- include('./partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>