<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>

    <main class="imagen-fondo-mobile justify-center">
        <div class="fx justify-center align-center budget-direction ">
            <div class="fx justify-sp-b text-right font-xlarge">
                <h2 class="m-3 font-xlarge">Bandeja de Entrada</h2>
            </div> 
            
            <div class="bg-white w-90 fx fx.wrap align-center">
                <div class="fx w-20 justify-center">
                    <img src="/images/profilePic.svg" alt="" class="w-100">
                </div>
                <div class="fx align-center justify-center w-60 mt-3">
                    <ul class="w-90">
                        <li class="font-small">Profesional 1</li>
                        <li class="font-medium">Pintar Dpto 2 amb</li>
                        <li class="font-xsmall">Buenos días, envío cotizaci...</li>
                    </ul>
                </div>
                <div class="text-right mt-3">
                    <ul>
                        <li class="font-xsmall">01/06/2022</li>
                        <li class="font-xsmall">11:30 AM</li>
                        <li class="font-medium">$ 5000</li>
                    </ul>
                </div>
            </div>
        </div>
            
        <div class="fx justify-center mt-3">
            <button class="budg-res-btn">    
                <a href="#"> Nueva Solicitud</a>
            </button>  
        </div>

    </main>

    
    <%- include('./partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>

