<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Repara Ya </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amaranth:ital@1&family=Roboto&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/2cffc479ad.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/themes.css">
    <link rel="stylesheet" href="/css/utils.css">
    <link rel="stylesheet" href="/css/colors.css">

    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-laptop.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">

</head>
<body>
    <header>
        <div class="main-header">
            <i class="fas fa-bars hamburguer"></i>
            <img src="/images/logo-repara-ya.svg" 
            alt="esto es un logo de repara ya" 
            class= "logo">
            <i class="fa-regular fa-circle-user"></i>
        </div>
    </header>

    <header class= "bg-orange">
        <div class="lapt-desk-header">
          <img src="/images/logoReparaYaDesktop.png" alt="Logo Repara Ya" class= "logo fx">
          <form class="search-bar fx">
              <input type="text" class="" placeholder="Buscá el servicio que necesitás">
              <button><i class="fas fa-search"></i></button>
              
          </form>
          <p class=""><a href="" class="right-bar">Ingresá</a></p>
          <p class=""><a href=""class="right-bar">Registrate</a></p>

      </div>

        <div class="header-bar">
            <ul class="fx">
                <li><a href="">Mi perfil</a></li>
                <li><a href="">Notificaciones</a></li>
                <li><a href="">Historial</a></li>
                <li><a href="">Categorias</a></li>
                <li><a href="">Mi carrito</a></li>
            </ul>
        </div>
    </header>
    
   <main>
        <div class="imagen-fondo-mobile txt-button-container">
           
            <div class="txt-button">
                <p class="txt-mobile ">
                    Encontrá a los mejores profesionales
                    para hacer reparaciones en tu hogar
                </p>
                <p class="txt-desk">
                    ¿Necesitas reparar algo? ¿Tuviste un desperfecto y no sabés con quien resolverlo?
                </p>
                
                <button class="budg-button">
                    <a href="/presupuesto"> Solicitar presupuesto ahora</a>
                </button>              
            </div>

        </div>       
    </main>

<footer class="bg-orange">
    <nav class="nav-bar">
        <ul class="descarga">
             <li class="font-white footer-title"> Descargá la app </li>
            <li class="mr-15"><a href=""><i class="fa-brands fa-google-play google-descarga"></i></a></li>
            <li><a href=""></a><i class="fa-brands fa-apple apple-descarga"></i></li>
        </ul>
        <ul class=" redes">
            <li class="font-white footer-title"> Redes </li>
            <li class="mr-11"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="mr-11"><a href="#"><i class="fa-brands fa-facebook"> </i></a></li>
            <li class="mr-11"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li ><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
        </ul>

        <ul class="funcionamiento">
            <li><img src="/images/logo-repara-ya.svg" alt="esto es un logo de repara ya" class="logo-footer"></li>
            <li class="font-white footer-title"> Funcionamiento </li>
            <li class="font-white"> Nosotros </li>
            <li class="font-white"> FAQ </li>
            <li class="font-white"> Terminos y condiciones </li>
        </ul>

        <ul class="contacto">
            <li class="font-white footer-title">Contacto</li>
            <li class="mr-15"> <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            <li class="mr-15"> <a href="#"><i class="fa-solid fa-envelope"></i></a></li>
            <li> <a href="#"><i class="fa-solid fa-phone"></i></a></li>
            </li>
        </ul>
    </nav>

</footer>
</body>
</html>