<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Repara Ya </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amaranth:ital@1&family=Roboto&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/2cffc479ad.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/themes.css">
    <link rel="stylesheet" href="/css/utils.css">
    <link rel="stylesheet" href="/css/colors.css">

    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-laptop.css">

</head>
<body>
    <header>
        <div class="main-header">
            <i class="fas fa-bars hamburguer"></i>
            <img src="/images/logo-repara-ya.svg" 
            alt="esto es un logo de repara ya" 
            class= "logo">
            <i class="fa-regular fa-circle-user"></i>
        </div>

    </header>

    <header class="lapt-desk-header">
      
    <img src="/images/logo-repara-ya.svg" 
            alt="esto es un logo de repara ya" 
            class= "logo fx" >
        <form class="search-bar fx">
            <input 
            type="text" 
            class="" 
            placeholder="Buscá el servicio que necesitás">
            <button><i class="fas fa-search"></i></button>
        </form>
        <p class="bar"><a href="" class="right-bar">Ingresá</a></p>
        <p class="bar"><a href=""class="right-bar">Registrate</a></p>
   
    </header>

    <main class="main">
        <div class="contenedor">
            <img src="/images/mobile-bg.svg"
            alt="Aca va una imagen de fondo"
            class= "imagen-fondo-mobile"
            >
            <div class="centrado">
                Encontrá a los mejores profesionales
                para hacer reparaciones en tu hogar
            </div>
            <div>
                <button class="budg-button">
                    <a href="/presupuesto"> Solicitar presupuesto ahora</a>
                    
                </button>
            </div>
        </div>       
    </main>

<footer class="bg-orange">
    <nav class="nav-bar">
        <ul class="w-20">
            <li class="font-white"> Redes </li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-facebook"> </i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
        </ul>

        <ul class="w-60">
            <li><img src="/images/logo-repara-ya.svg" alt="esto es un logo de repara ya" class="logo-footer"></li>
            <li class="font-white"> Funcionamiento </li>
            <li class="font-white"> Nosotros </li>
            <li class="font-white"> FAQ </li>
            <li class="font-white"> Terminos y condiciones </li>
        </ul>

        <ul class="w-20">
            <li class="font-white">Contacto</li>
            <li> <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            <li> <a href="#"><i class="fa-solid fa-envelope"></i></a></li>
            <li> <a href="#"><i class="fa-solid fa-phone"></i></a></li>
            </li>
        </ul>
    </nav>

</footer>

    
</body>
</html>