<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>

    <main class="imagen-fondo-mobile fx justify-center">
        <div class="fx justify-center"></div>
            <div class="grey-opacity profile-box desk-size">
                <form action="">
                    <div class="fx justify-center">
                        <div class="user-pic" style="background-image:url('../images/ProfilePic.svg')"></div>
                    </div>
                    <div class="fx map-column">
                        <div>
                            <div class="row mt-3">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Apellido" aria-label="Apellido">
                                </div>
                            </div>
                            <div class="col-auto mt-3">
                                <label class="visually-hidden" for="">Nombre de usuario</label>
                                <div class="input-group">
                                    <div class="input-group-text">@</div>
                                    <input type="text" class="form-control" id="" placeholder="Nombre de usuario">
                                </div>
                            </div>
                            <div class="col mt-3 mb-3">
                                <input type="email" class="form-control" placeholder="E-mail" aria-label="E-mail">
                            </div>
                             <div class="col mb-3">
                                <input type="password" class="form-control" placeholder="Cambiar contraseña" aria-label="Contraseña">
                            </div>
                            <div class="font-mediun mt-3 mb-5-login">
                                <div class="mb-3">                   
                                    <label for="fotoPerfil" class="form-label "><h4 class="font-medium" >Foto de Perfil</h4></label>
                                    <input class="form-control" type="file" id="FotoPerfil" multiple>
                                </div>
                            </div>
                            <div class="col mt-3">
                                <input type="text" class="form-control" placeholder="Teléfono" aria-label="Teléfono">
                            </div>
        
                            <div class="col-12 mt-3 mb-3">
                                <label for="Dirección" class="form-label visually-hidden">Dirección</label>
                                <input type="text" class="form-control" id="Dirección" placeholder="Dirección">
                            </div>
                            <div class="row g-3">
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="Ciudad" aria-label="Ciudad">
                                </div>
                                <div class="col-sm">
                                    <input type="text" class="form-control" placeholder="Provincia" aria-label="Provincia">
                                </div>
                                <div class="col-sm">
                                    <input type="text" class="form-control" placeholder="Código postal" aria-label="Código postal">
                                </div>
                            </div>                          
    
                        </div>                
                        
                        <div class="fx justify-center mt-3  map-desk">
                            <div class="map" style="background-image:url('../images/profile-map.png')"></div>
                        </div>
                        
                    </div>
                    <div class="fx justify-center mt-3">
                        <button class="budg-button" type="submit">
                            <a href="#"> Actualizar mis datos</a>
                        </button>  
                    </div>
        
                </form>

            </div> 
        </div>    
    </main>

    <%- include('./partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>