<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repara Ya</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amaranth:ital@1&family=Roboto&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/2cffc479ad.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/themes.css">
    <link rel="stylesheet" href="/css/utils.css">
    <link rel="stylesheet" href="/css/colors.css">
</head>
<body>
    <header>
        <div class="main-header">
            <i class="fas fa-bars hamburguer"></i>
            <img src="/images/logo-repara-ya.svg" 
            alt="esto es un logo de repara ya" 
            class= "logo">
            <i class="fa-regular fa-circle-user"></i>
        </div>
    </header>
    <main class="main-body fx direction-column">      
             <div class="text-right font-xlarge">
                <i class="far fa-question-circle"></i>
            </div>
                <div>
                <h2 class="font-xlarge">Pago</h2>
            </div> 
            <section class="bg-light-grey marco-detail text-center">
            <div>
                <h3 class="font-large m-detail">Domicilio y teléfono</h3>
                <form>
                    <input 
                    type="text" 
                    class="" 
                    placeholder="">
                    <button></button>
                </form> 
            </div>
            <div>    
                <h3 class="font-large m-detail">Agendá tu turno!</h3>
                <form>
                    <input 
                    type="date" 
                    class="" 
                    placeholder="">
                    <button></button>
                </form>
            </div>
            <div> 
                <h3 class="font-large m-detail">Horarios</h3>
                <form>
                    <input 
                    type="hour" 
                    class="" 
                    placeholder="">
                    <button></button>
                </form>
            </div>
            <div>
                <h3 class="font-large m-detail">Métodos de pago</h3>                
                <form>
                <input 
                type="text" 
                class="" 
                placeholder="">
                <button class="budg-button-white"></button>
            </form>
        </div>
        <div>
        <h2 class="font-large text-center m-detail budg-button-white" type="submit"> Pagás $ 5000</h2>
        </div>
        </section>
        <section class="text-center">
            <button type=“submit” class="budg-button-no-position font-large">Contratá tu servicio</button>
        </section> 
    </main>

    <footer class="bg-orange">
        <nav class="nav-bar">
            <ul class="w-20">
                <li class="font-white"> Redes </li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook"> </i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
    
            <ul class="w-60">
                <li><img src="/images/logo-repara-ya.svg" alt="esto es un logo de repara ya" class="logo-footer"></li>
                <li class="font-white"> Funcionamiento </li>
                <li class="font-white"> Nosotros </li>
                <li class="font-white"> FAQ </li>
                <li class="font-white"> Terminos y condiciones </li>
            </ul>
    
            <ul class="w-20">
                <li class="font-white">Contacto</li>
                <li> <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                <li> <a href="#"><i class="fa-solid fa-envelope"></i></a></li>
                <li> <a href="#"><i class="fa-solid fa-phone"></i></a></li>
                </li>
            </ul>
        </nav>
    </footer>    
</body>
</html>