@media(min-width:769px) {
    /*------------------HEADER-----------------*/
    
    .main-header {
        display: none;
    }
    .lapt-desk-header {
        background-color: #FF9900;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .logo {
        width: 15%;
        
    }
    
   .search-bar {
        display: flex;  
        width: 50%;  
        padding: 10px;
        align-items: center;
        margin-right: 30px;
        
    }

    .search-bar input {
        background-color: white;
        border: none;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        width: 100%;
        padding: 10px;
        
    }
    .search-bar button  {
        background-color: white;
        border: none;
        padding: 10px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;  
    }
    .right-bar {
        text-decoration: none;
        
        color: black;
        margin-bottom: 100px; 
        font-size: 20px;   
    }
    .header-bar{display: block;}
    .header-bar ul{
        justify-content: center;
    }
    .header-bar ul li {
        margin-right: 6%;
    }

    /*--------MENU DROPDOWN------------*/

    .dropdown {
        position: relative;
    }
    
    .label {
        cursor: pointer;
        padding: 0.8rem 1rem;
        width: 100%;
        font-size: 25px;
        display: block;
        box-sizing: border-box;
        transition: all 0.3s;
    }
    
    .items li {
        color: black;
        background: local;
        background-color: rgba(196,196,196,0.5);
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0.5rem 1rem;
        transition: all 0.2s;
    }
    
    .items li:hover {
        border-left: 5px solid;
    }
    
    .dropdown i {
        margin-right: 10px;
    }
    
    .items {
        visibility: hidden;
        min-width: 100%;
        font-size: 16px;
        height: 0;
        position: absolute;
        top: 48px;
        transform-origin: top;
        transform: scaleY(0);
        transition: transform 0.3s;
    }
    
    .items::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        transform: rotate(45deg);
        top: -7px;
        left: 20px;
        z-index: -1;
    }
    
    .dropdown:hover > .items {
        opacity: 1;
        visibility: visible;
        height: unset;
        transform: scaleY(1);
    }
    
    .dropdown:hover > .label {
        background: #ff9900a1;
    }
    

     /*----------MAIN---------------*/
    
    .txt-mobile {
        display: none;
    }

    .txt-desk {
        display: flex;        
        font-size: 16px;
        margin-right: 3%;
    }

    .txt-home-desk {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: flex-start;
        align-items: center;
        max-width: 60%;
        margin-left: 20%;
    }
    .dp-grid {display: grid;}

    .imagen-fondo-mobile::after {
        background-image: url("/images/bg-home-desktop.svg");
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.4;
        background-color: #F1F3F7;
                
    }

    .txt-button-container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-top: 2%;
        min-width: 100%;
    }

    .txt-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: inherit;
        justify-content: center;       
    }

    .budg-button {
        padding: 10px;  
        border-radius: 20px;
        background-color: #FF9900;
        border: none;
        font-size: 12px; 
           
    } 
    .cajaformulario {
        width: 30%;
    }

    ul {
        font-size: 18px;
    }

    /*---------------FOOTER----------------*/

    .logo-footer {
        display: none;        
    }

    .redes {
        order: 1;
    }
    .redes   {
        width: 25%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .contacto{
        width: 20%;        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .funcionamiento{
        width: 35%;
        
    }
    .descarga {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 20%;
        justify-content: center;        
    }
    .footer-title{
        width:100%;
        font-size: 20px;
    }
    .mr-11{
    margin-right: 11%;
}
    .mr-15{
        margin-right: 15%;
    }
    /*-----------SHOPPING CART-----------*/

    .shopc-lap {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .marco-lap {
        padding: 5%;

    }
    .lapt-shop-pago {
        display: none;
    }
    .lapt-shop-title {
        display: flex;
        font-size: 23px;
    }

    /*-----------LOGIN----------------*/

    .cajaformulario {
       max-width: 30%;
       padding: 2%;
    }
    .mb-5-login {
        margin-bottom: 1%;
    }
    .mb-3-login {
        margin-bottom: 1%;
    }
    .login-form-box input {
        margin-top: 2%;
        margin-bottom: 2%;
    }
    /*--------------BUDGET REQUEST----------*/

    .budg-req-desk {
        max-width: 60%;
    }
    .budget-req {
        padding: 3%;
    }

     /*----------BUDGET RESPONSE--------*/
    .budget-direction {
    flex-direction: row;
    }


}