@media(min-width:1280px) {
    /*----------MAIN-----------*/
       .imagen-fondo-mobile::after {
        background-size: auto;                
    }
    /*--------SHOPPING CART------------*/

    .shopc-lap{
        display: flex;
        justify-content:center;
    }
      .lapt-shop-title {
        display: flex;
        font-size: 30px;
    }
    .box-size-1{
        width: 600px;
        height: 440px;
    }
    .box-size-2 {
        width: 500px;
        height: 350px;
    }
   
}