@media(min-width:481px) {
    /*----------MAIN-----------*/
    
    .budg-button a {
        font-size: 120%;
        border-radius: 5px;
    } 
    /*----------SHOPPING CART---------*/

    .shopc-marco-tablet {
        max-width: 80%;
        justify-content: center;
    }
   

}