@media(min-width:481px) {
    /*----------MAIN-----------*/
    
    .budg-button {
        bottom: 150px;
        
    }
    .budg-button a {
        font-size: 200%;
    }

    .centrado {
        font-size: 320%;
    }

}