@media(min-width:1280px) {
    /*----------MAIN-----------*/
    .imagen-fondo-mobile::after {
        background-size: auto;                
    }
    /*--------SHOPPING CART------------*/

    .shopc-desk{
        display: flex;
        justify-content: space-around;
    }
}