.form-box input {
    border-radius: 5px;
    background-color: #FFFF;
    border: none;
    width:100%;
    padding: 2%;
    padding-left: 2%;
}

.maxWit-200{
    max-width: 200px;    
}

.maxWit-250{
    max-width: 250px;    
}

.mt-20{
margin-top: 20px;    
}

.form-box-padding {
    padding-left: 2%;
    padding-right: 2%;
}

.button-orange{
    background-color: #FF9900;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border: none;
}

.marco-prof-shop {
    border-radius: 5px;
    background-color: white;
    padding: 5%;
}

.lapt-shop-title {
    display: none;
}

.shopc-marco-tablet {
    min-width: fit-content;
}
.marco-detail-img {
    padding: 3% 1%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
    align-items: center;
}
.m-t-pro {
    margin-top: 6%;
}