* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Amaranth', sans-serif;
}

/*-----------HEADER----------------*/

.main-header {
    display: flex;
    justify-content: space-between;
    background-color: #FF9900;

}

.logo {
    width: 20%;    
}

.main-header i {
    margin-top: 7%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 200%;
}

.lapt-desk-header {
    display: none;
}
.header-bar {    
    display: none;    
}
.header-bar ul {  
    justify-content: center; 
    
}
.header-bar ul li {
    margin-right: 4%;
    list-style: none;
    text-decoration: none;
    color: black;
}
.header-bar ul li a {   
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 16px;
}



/*-------------------MAIN-----------------*/

.imagen-fondo-mobile {
    position: relative;    
    height: 70vh;
}
.imagen-fondo-mobile::after {
    background-image: url("/images/mobile-bg.svg");
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
    background-color: #F1F3F7
}
.txt-mobile {
    font-size: 220%;
    font-weight: bold;
    text-align: center;
    margin: auto;
    margin-bottom: 6%; 
    padding-left: 10%;
    padding-right: 10%   
}

.txt-desk {
    display: none;
}

.txt-button-container {
    display: flex;
    align-items: center;
    
}
.txt-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4%;
}

.budg-button {
    bottom: 100px;
    padding: 10px;  
    border-radius: 20px;
    background-color: #FF9900;
    border: none;
    font-size: 100%;    
}

.budg-button-no-position {
    margin: 5%;
    padding: 10px;  
    border-radius: 20px;
    background-color: #FF9900;
    border: none;
    font-size: 100%;    
}

.budg-button-white {
    margin: 5%;
    padding: 5px;  
    border-radius: 20px;
    background-color: #FFFF;
    border: none;
    font-size: 50%;
    width: fit-content;
    margin: auto;
}

.budg-button a {
    list-style: none;
    text-decoration: none;
    color: black;
}


/*-------------FOOTER------------------*/


.nav-bar {
    display: flex;
    justify-content: center;
}

.nav-bar ul {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.nav-bar ul li {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.nav-bar ul li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-top: 7%;
}
.logo-footer {
    width: 28%;
}

.redes {
    width: 20%;
}
.funcionamiento {
    width: 60%;
}
.contacto {
    width: 20%;
}
.descarga {
    display: none;
}
.google-descarga {
    font-size: 1.5em;
}
.apple-descarga{
    font-size: 2.5em;
}
.mr-11{
    margin-right: 0%;
}
.mr-15{
    margin-right: 0%;
}

