/*------------------SPACING------------------*/

.w-20 {
    width: 20%;
}

.w-60 {
    width: 60%;
}

.mb-80 {
        margin-bottom: 80px;
}
.w-50 {
    width: 50%;
}

/*-----------FONTS---------*/

.text-right { text-align: right; }
.text-center { text-align: center; }
.font-xlarge { font-size: 30px; font-weight: bold;}
.font-large { font-size: 24px; font-weight: bold;}
.font-medium { font-size: 16px;}
.font-small { font-size: 12px;}
.font-xsmall { font-size: 10px }

/*-----------POSITIONS---------*/

.relative{ position: relative;}

.absolut{ position: absolute;}

.stars {
    color: gold;
    margin-top: 2%;
    display: flex;
    font-size: 10px;
}

.marco {
    border: solid 1px black;
    width: 100px;
    height: 100px;
    margin-right: 5%;
}

.main-header-flex {
    display: flex;
    justify-content: center;
    margin: 8% 3%;
}

.main-body {
    margin: 5%;
}


/*-----------FLEX----------*/

.fx {
    display: flex;
}

.fx.wrap {
    flex-wrap: wrap;
}

.fx-column {flex-direction: column;}

.justify-sp-b {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.direction-column {
    flex-direction: column;
    justify-content: space-around;
}

.marco-detail {
    padding: 3%;
    margin: 4%;
    border-radius: 15px;
}

.m-detail {
    margin-top: 10px;
    margin-bottom: 5px;
}