<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
 <%- include('./partials/header') %>
    <main class="imagen-fondo-mobile main-fx-size">    
        
        <section>   
            <div class="fx justify-sp-b text-right font-xlarge">
                <h2 class="m-3 font-xlarge lapt-shop-pago">Pago</h2>
                <h2 class="m-3 font-xlarge lapt-shop-title">Realizá tus pagos de manera rápida y segura a traves de la página</h2>
                <i class="m-3 far fa-question-circle"></i>
            </div>        
        
            <div class="shopc-lap" >
                <form class="fx justify-center lap-w-1" action="" method="" >
                    <div class="marco-detail-2 box-size-1 shopc-marco-tablet marco-lap">
                        <div class="form-box-padding">
                            <div class="form-box">
                                <h3 class="font-medium m-detail">Confirmá tu domicilio</h3>
                                <input 
                                type="text" 
                                class="" 
                                placeholder="">
                            </div>
                        </div> 
                        <div class="form-box-padding">
                            <div class="form-box">
                                <h3 class="font-medium m-detail">Teléfono de contacto</h3>
                                <input 
                                type="text" 
                                placeholder="">
                            </div>
                        </div>       
                        
                        <div class="form-box form-box-padding mb-3">    
                            <h3 class="font-medium m-detail">Agendá tu turno!</h3>
                            <input 
                            type="date" 
                            class="maxWit-200" 
                            placeholder="">                                           
                        </div>
                                                   
                        <div class="mb-3 fx form-box-padding align-center">                    
                            <label class="font-medium">Horario</label>
                            <select class="form-select font-medium form-select-lg mb-3" aria-label=".form-select-lg example">
                              <option selected>Elegí tu horario disponible</option>
                              <option value="mañana">de 8 a 12</option>
                              <option value="tarde">de 12 a 16</option>
                              <option value="tarde-noche">de 16 a 20</option>
                            </select>
                        </div>

                        <div class="mb-3 fx align-center form-box-padding">                    
                            <label class="font-medium">Método de pago</label>
                            <select class="form-select font-medium form-select-lg mb-3" aria-label=".form-select-lg example">
                              <option selected>Seleccioná tu método de pago</option>
                              <option value="">Efectivo</option>
                              <option value="">Débito</option>
                              <option value="">Tarjeta de crédito</option>
                              <option value="">Mercado Pago</option>
                            </select>
                        </div>
                    </div>

                </form>
            
                <div class="fx justify-center">
                    <div class="fx marco-detail direction-column shopc-marco-tablet lap-w-2">
                        <div class="marco-prof-shop marco-detail-img fx justify-center ">                   
                            <div>
                                <img src="/images/profilePic.svg" alt="">
                            </div>
                            <div>
                                <h2 class="font-18 m-t-pro">Profesional 1</h2>
                                <div class="stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <p class="mt-3">Pintura interior departamento x 300 mtrs²</p>
                            </div>                          
                    
                        </div>
        
                        <div class="marco-prof-shop marco-detail fx justify-center direction-column">
                            <div class="fx justify-sp-b mb-3">
                                <p class="font-18">Costo de servicio</p>
                                <p class="font-18">$5000</p>
                            </div>
                            <div class="fx justify-sp-b">
                                <p class="font-18 bolder">Pagas</p>
                                <p class="font-18 bolder">$5000</p>
                            </div>
                                
                        </div>
                    </div>

                </div>
            </div>  
        </section>
        <div class="text-center txt-button-container pad-5 justify-center"> 
            <button type=“submit” class="primary-button">Contratá tu servicio</button>
            <button type="reset" class="cancel-button font-18"> Cancelar </button>            
        </div>  
            
    </main>

    <%- include('./partials/footer') %>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>