<div class="fx justify-sp-a">
  <div>
    <div class="font-medium mt-3 bolder">Agregar Rubros</div>
    <div class="form-check">
      <input
        class="form-check-input"
        name="rubroAdd"
        type="checkbox"
        value="Electricista"
      />
      <label class="form-check-label" for="Electricista"> Electricista </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        name="rubroAdd"
        type="checkbox"
        value="Plomero"
      />
      <label class="form-check-label" for="Plomero"> Plomero </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        name="rubroAdd"
        type="checkbox"
        value="Gasista"
        id="Gasista"
      />
      <label class="form-check-label" for="Gasista"> Gasista </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        name="rubroAdd"
        type="checkbox"
        value="Pintor"
        id="Pintor"
      />
      <label class="form-check-label" for="Pintor"> Pintor </label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        name="rubroAdd"
        type="checkbox"
        value="Albañil"
        id="Pintor"
      />
      <label class="form-check-label" for="Albañil"> Albañil </label>
    </div>
  </div>
  <div>
    <div class="font-medium mt-3 bolder">Eliminar Rubros</div>
    <div class="form-check">
      <input
        class="form-check-input"
        name="rubroDelete"
        type="checkbox"
        value="Electricista"
      />
      <label class="form-check-label" for="Electricista"> Electricista </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        name="rubroDelete"
        type="checkbox"
        value="Plomero"
      />
      <label class="form-check-label" for="Plomero"> Plomero </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        name="rubroDelete"
        type="checkbox"
        value="Gasista"
        id="Gasista"
      />
      <label class="form-check-label" for="Gasista"> Gasista </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        name="rubroDelete"
        type="checkbox"
        value="Pintor"
        id="Pintor"
      />
      <label class="form-check-label" for="Pintor"> Pintor </label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        name="rubroDelete"
        type="checkbox"
        value="Albañil"
        id="Pintor"
      />
      <label class="form-check-label" for="Albañil"> Albañil </label>
    </div>
  </div>
</div>
